.homePage{
    width: 100%;
    height: auto;
    min-height: 150vh;
    background-color: #000;
    overflow:hidden;
}

.home{
    width: 100%;
    height: 100vh;
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home_logo{
    border:7px  #ff9100;
    width: 280px;
    border-style: solid;
    height: 280px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.up,
.down, 
.left, 
.right{
    transform: rotate(45deg);
    color: #ff9100;
    font-size: 80px;
}

.up{
    position: absolute;
    top: -47px;
    right: -47px;
}

.down{
    position: absolute;
    bottom:-47px;
    left: -47px;
}

.left{
    position: absolute;
    top:-47px;
    left:-47px;
}

.right{
    position: absolute;
    bottom:-47px;
    right:-47px;
    animation: yur 0.7s linear infinite;
}

@keyframes yur {
    from{
        position: absolute;
        bottom:-47px;
        right:-47px;
    }

    to{
        position: absolute;
        bottom:-65px;
        right:-65px;
    }
}

.logo_letter{
    margin-left: 15px;
    margin-top: -10px;
    transform: rotate(-45deg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.logo_top{
    width: 70px;
    height: 70px;
    border-radius: 0 50% 50% 0;
    border: 13px solid #ff9100; 
}

.logo_bottom{
    width: 80px;
    height: 80px;
    border-radius: 0 50% 50% 0;
    border: 13px solid #ff9100;
    margin-top: -10px;
 
}

.circle{
    width: 210px;
    height: 210px;
    position: absolute;
    top: 180px;
    left: 485px;
    border: 7.5px dashed #ff9100 ;
    border-radius: 50%;
    animation: aylan 10s linear infinite forwards;
}

@keyframes aylan {
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(180deg);
    }
}

