.homeInfo{
    width: calc( 100% - 500px);
    height: 100vh;
    background-color: #2d2d2d;
    opacity: 0.1;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    user-select: none;
}

.opacity{
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: 0.05;
    color: #fff;
    font-size: 10vh;
    letter-spacing:25px;
    user-select: none;
}


section{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sectionText{
    color: #fff;
}

.sectionText h1{
    margin-bottom: 10px;
    font-size: 45px;
}

.sectionText span{
    color: #fb3b34;
    font-style: italic;
}

.sectionText p{
    width: 80%;
    margin-top: 20px;
    font-size: 25px;
    line-height: 34px;
}

.sectionImg{
    width: 400px;
    position: relative;
}

.sectionImg img{
    width: 300px;
}

.sectionImg svg:first-child{
    transform: rotate(-45deg);
    position: absolute;
    top: -60px;
    left: -60px;
    color:#fff;
    font: 100px sans-serif;
    font-weight: 100;
}

.sectionImg svg:nth-child(2){
    transform: rotate(45deg);
    position: absolute;
    top: -60px;
    right: -60px;
    color:#fff;
    font: 100px sans-serif;
    font-weight: 100;
}

.sectionImg svg:nth-child(4){
    transform: rotate(45deg);
    position: absolute;
    bottom: -60px;
    left: -60px;
    color:#fff;
    font: 100px sans-serif;
    font-weight: 100;
}

.sectionImg svg:last-child{
    transform: rotate(-45deg);
    position: absolute;
    bottom: -60px;
    right: -60px;
    color:#fff;
    font: 100px sans-serif;
    font-weight: 100;
}



@media screen and (max-width:1705px) {
    .homeInfo{
        width: calc( 100% - 430px);
    }
}

@media screen and (max-width:1700px) {
    .sectionImg img{
        width: 270px;
    }
}


@media screen and (max-width:1650px) {
    .sectionText h1{
        font-size: 40px;
    }

    .sectionText p{
        font-size: 23px;
    }
    
    .sectionImg img{
        width: 260px;
    }
    
    section{
        width: 85%;
    }
}

@media screen and (max-width :1444px) {
    .homeInfo{
        width: calc( 100% - 400px);
    }
}

@media screen and (max-width:1413px) {
    .sectionText h1{
        font-size: 35px;
    }

    .sectionText p{
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width:1413px) {
    .homeInfo{
        width: calc( 100% - 380px);
    }
}

@media screen and (max-width :1333px) {
    .homeInfo{
        width: calc( 100% - 350px);
    }
}

@media screen and (max-width:1297px){
    .sectionImg img{
        width: 240px;
    }
} 

@media screen and (max-width:1260px){
    .sectionImg img{
        width: 230px;
    }
}

@media screen and (max-width:1200px){
    .homeInfo{
        width: calc( 100% - 300px);
    }
}

@media screen and (max-width:1230px){
    .sectionText h1{
        font-size: 30px;
    }

    .sectionText p{
        font-size: 18px;
        line-height: 28px;
    }
}

@media screen and (max-width:1130px){
    section{
        width: 80%;
        flex-direction: column;
        height: 70vh;
        align-items: center;
    }

    .sectionImg img{
        width: 310px;
    }

    .sectionImg{
        width: auto;
    }

    .sectionText h1{
        font-size: 40px;
    }

    .sectionText p{
        font-size: 25px;
        line-height: 35px;
    }
}

@media screen and (max-width:966px){
    .homeInfo{
        width: 100%;
    }

    .sectionText{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .sectionText p{
        text-align: center;
    }
}

@media screen and (max-width:775px){
    .opacity{
        font-size: 7vh;
    }
}

@media screen and (max-width:703px){
    .sectionText h1{
        font-size: 35px;
    }

    .sectionText p{
        font-size: 22px;
        line-height: 25px;
    }
}

@media screen and (max-width:615px){
    .sectionText h1{
        font-size: 30px;
    }

    .opacity{
        font-size: 5vh;
    }

    .sectionText p{
        font-size: 20px;
        line-height: 25px;
    }
}

@media screen and (max-width:528px){
    .sectionText h1{
        font-size: 25px;
    }

    .opacity{
        font-size: 3vh;
    }

    .sectionText p{
        font-size: 18px;
        line-height: 25px;
    }

    .sectionImg img{
        width: 270px;
    }
}

@media screen and (max-width:440px){
    .sectionText h1{
        font-size: 23px;
    }
}

@media screen and (max-width:400px){
    .sectionText h1{
        font-size: 20px;
    }

    .sectionText p{
        font-size: 16px;
        line-height: 25px;
        width: 95%;
    }
}

/* @media screen and (max-width:960px){
    .sidebar_home{
        width: auto;
        height: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;

    }
}
.side{
    width: 200px;
    z-index: 50;

} */