.homeInfo{
    width: calc( 100% - 27%);
    height: 100vh;
    background-color: #2d2d2d;
    opacity: 0.1;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.opacity{
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: 0.05;
    color: #fff;
    font-size: 10vh;
    letter-spacing:25px;
}


section{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sectionText{
    color: #fff;
}

.sectionText h1{
    margin-bottom: 10px;
    font-size: 45px;
}

.sectionText span{
    color: #fb3b34;
    font-style: italic;
}

.sectionText p{
    width: 80%;
    margin-top: 20px;
    font-size: 25px;
    line-height: 34px;
}

.sectionImg{
    width: 400px;
    position: relative;
}

.sectionImg svg:first-child{
    transform: rotate(-45deg);
    position: absolute;
    top: -60px;
    left: -60px;
    color:#fff;
    font: 100px sans-serif;
    font-weight: 100;
}

.sectionImg svg:nth-child(2){
    transform: rotate(45deg);
    position: absolute;
    top: -60px;
    right: -60px;
    color:#fff;
    font: 100px sans-serif;
    font-weight: 100;
}

.sectionImg svg:nth-child(4){
    transform: rotate(45deg);
    position: absolute;
    bottom: -60px;
    left: -60px;
    color:#fff;
    font: 100px sans-serif;
    font-weight: 100;
}

.sectionImg svg:last-child{
    transform: rotate(-45deg);
    position: absolute;
    bottom: -60px;
    right: -60px;
    color:#fff;
    font: 100px sans-serif;
    font-weight: 100;
}
.sectionImg img{
    width: 300px;
}

@media screen and (max-width:1700px) {
    .sectionImg img{
        width: 270px;
    }
}

@media screen and (max-width:1650px) {
    .sectionText h1{
        font-size: 40px;
    }

    .sectionText p{
        font-size: 23px;
    }
    
    .sectionImg img{
        width: 260px;
    }
    
    section{
        width: 85%;
    }
}

@media screen and (max-width:1413px) {
    .sectionText h1{
        font-size: 35px;
    }

    .sectionText p{
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width:1297px){
    .sectionImg img{
        width: 240px;
    }
} 

@media screen and (max-width:1260px){
    .sectionImg img{
        width: 230px;
    }
}

@media screen and (max-width:1230px){
    .sectionText h1{
        font-size: 30px;
    }

    .sectionText p{
        font-size: 18px;
        line-height: 28px;
    }
}

@media screen and (max-width:1130px){
    section{
        width: 80%;
        flex-direction: column;
        height: 70vh;
        align-items: center;
    }

    .sectionImg img{
        width: 310px;
    }

    .sectionImg{
        width: auto;
    }

    .sectionText h1{
        font-size: 40px;
    }

    .sectionText p{
        font-size: 25px;
        line-height: 35px;
    }
}