.experience{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image:linear-gradient(to bottom left, #7f0483, #35044b);
    color: #fff;
    padding-top: 40px;
}

.exp_caption{
    margin-left: 10%;
    text-decoration: underline;
}


.exp_container{
    width: 80%;
    height: auto;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 30px;
    padding-bottom: 40px;
}

.doks{
    width: 550px;
    height: 320px;
    text-align: center;
    position: relative;
    background-color: yellow;
    margin-top: 50px;
    z-index: 20;
}



.doks img{
    width: 100%;
    height: 100%;
}

.doks_caption{
    display: none;
}

.doks_caption a{
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.doks:hover .doks_caption{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #000000bb;
}



