.experience{
    width: calc( 100% - 280px );
    min-height: 100vh;
    height: auto;
    background-color: #2d2d2d;
    position: relative;
    overflow: auto;
}

.exp_caption{
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 80px;
    color:#fff;
    opacity: 0.2;
}

.doks{
    width: 330px;
}

.exp_container{
    margin: 0 auto;
    width: 800px;
    height: 100vh;
    padding-top: 140px;
    padding-bottom: 100px;
    overflow: auto;
}

.exp_container::-webkit-scrollbar{
    width: 0;
}

.doks .exp_container_item img{
    width: 294px;
    height: 180px;
    display: block;
    margin-bottom: 10px;
    box-shadow: -62px -65px 60px -99px #fff;
    transition: .3s;
}


.doks .exp_container_item img:hover{
    transition: .3s;
    transform: scale(1.5);
    cursor: pointer;
}


.doks:nth-child(odd){
    width: 330px;
    height: auto;
    padding-right: 5px;
    border-bottom: 2px solid #fff;
    border-right: 6px solid #fff;
    transform: translateX(41%);
    padding-right: 17px;
    padding-bottom: 5px;
}

.doks:nth-child(even){
    width: 330px;
    height: auto;
    padding-right: 5px;
    border-bottom:2px solid #fff;
    border-left: 6px solid #fff;
    transform: translateX(139.3%);
    padding-left: 17px;
    padding-bottom: 5px;
    position: relative;
    z-index: 2;
}

/* .doks:nth-child(even)::after{
    width: 100px;
    z-index:1;
    content: '';
    height: 100px;
    background-color:#666666;
    position: absolute;
    top: -15px;
    left: 0;
} */

.doks_link{
    color: #ddd;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width:1380px) {

    .exp_container{
        margin-right: 16%;
        padding: 0;
        margin: 100px 0;
    }
    
}

@media screen and (max-width:1250px){
    .exp_container{
        margin-right: 20%;
        padding-bottom: 170px;
    }
}
