.skils{
    width: calc( 100% - 500px );
    height: 100vh;
    background-color: #2d2d2d;
    position: relative;
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
}

.skilsOpacity{
    font-size: 100px;
    opacity: 0.2;
    color: #666;
    position: absolute;
    top: 0;
    left: 30px;
}

.skils_container{
    width: 48%;
    height: 90%;
    background-color: #1a1a1a;
    border: 6px solid #fb3b34da;
    border-radius: 12px;
    position: relative;
    color: #fff;
    padding:30px 20px 0 20px;
}

.skils_top{
    width: 60%;
    height: 60px;
    border: 6px solid #fb3b34da;
    border-radius: 12px;
    position: absolute;
    top: -37px;
    left: 20%;
    background-color: #3e3e3e;
}

.skils_container h3{
    color: #fff;
    text-align: center;
    font-size: 37px;
}

.skils_container ul li {
    list-style-type:none;
    border-bottom: 2px dotted #fb3b34da;
    margin-bottom: 4.5px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    transition: .2s;
    font-size: 27px;
}

.skils_container ul li svg{
    font-size: 27px;
}

.skils_container ul li:hover{
    /* transform: scale(1.04); */
    transition: .2s;
    border-color: #fff;
    letter-spacing: 5px;
}

.skils_container ul li:hover svg{
    color: #fb3b34da;
}

@media screen and (max-width : 1750px) {
    .skils_container{
        width: 55%;
        height: 80%;
    }
}

@media screen and (max-width : 1705px){
    .skils{
        width: calc( 100% - 430px);
    }
}

@media screen and (max-width: 1444px){
    .skils{
        width: calc( 100% - 400px);
    }
}

@media screen and (max-width : 1416px) {
    .skils_container{
        width: 60%;
        height: 75%;
    }

    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 23px;
    }
}


@media screen and (max-width: 1343px) {
    .skils{
        width: calc( 100% - 380px);
    }
}

@media screen and (max-width: 1333px) {
    .skils{
        width: calc( 100% - 350px);
    }
}


@media screen and (max-width : 1250px){
    .skils_container{
        width: 65%;
        height: auto;
        padding-bottom: 15px;
    }
    
    
    
    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 21px;
    }
    
    .skils_container h3{
        font-size: 27px;
    }
}

@media screen and (max-width: 1200px) {
    .skils{
        width: calc( 100% - 280px);
    }

    .skils_container{
        width: 45%;
        height: auto;
        padding-bottom: 15px;
    }

    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 15px;
    }
    
    .skils_container h3{
        font-size: 25px;
    }
}

@media screen and (max-width: 1070px){
    .skils_container{
        width: 50%;
    }

    .skils_container h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 960px){
    .skils{
        width: 100%;
    }

    .skils_container{
        width: 46%;
    }
}


@media screen and (max-width: 821px){
    .skils_container{
        width: 70%;
    }

    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 25px;
    }
}

@media screen and (max-width: 769px){
    .skils_container{
        width: 60%;
    }

    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 17px;
    }
}


@media screen and (max-width: 760px){
    .skils_container{
        width: 60%;
    }

    .skils_top{
        width: 60%;
        height: 50px;
        top: -30px;
    }

    
}

@media screen and (max-width: 617px){
    .skils_container{
        width: 62%;
    }

    .skils_container,
    .skils_top{
        border: 3px solid #fb3b34da;
    }

    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 13px;
    }

    .skils_top{
        width: 60%;
        height: 40px;
        top: -25px;
    }

    .skils_container h3{
        font-size: 19px;
    }
}


@media screen and (max-width: 500px){
    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 11px;
    }

    .skils{
        padding: 0;
    }
}

@media screen and (max-width: 450px){
    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 10px;
    }

    .skils_container h3{
        font-size: 13px;
        margin: 0;
    }

    .skils_container{
        width: 70%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }

    .skils_top{
        width: 60%;
        height: 35px;
        top: -20px;
    }
}

@media screen and (max-width: 415px){
    .skils_container{
        width: 70%;
    }
    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 13px;
    }
}

@media screen and (max-width: 391px){
    .skils_container{
        width: 80%;
    }
}


@media screen and (max-width: 380px){
    .skils_container{
        width: 80%;
    }

    .skils{
        padding: 0;
    }
}

@media screen and (max-width: 321px){
    .skilsOpacity{
        font-size: 70px;
    }

    
    .skils_container{
        width: 70%;
    }

    .skils_container ul li,
    .skils_container ul li svg{
        font-size: 10px;
    }
}
    

