.skils{
    width: calc( 100% - 280px );
    height: 100vh;
    background-color: #2d2d2d;
    position: relative;
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skilsOpacity{
    font-size: 100px;
    opacity: 0.2;
    color: #666;
    position: absolute;
    top: 0;
    left: 30px;
}

.skils_container{
    /* background-color: #3e3e3e; */
    width: 45%;
    height: 90%;
    border: 6px solid #fb3b34da;
    border-radius: 12px;
    position: relative;
    color: #fff;
    padding:30px 20px 0 20px;
    transform: translateY(-100%);
}

.skils_top{
    width: 60%;
    height: 60px;
    border: 6px solid #fb3b34da;
    border-radius: 12px;
    position: absolute;
    top: -37px;
    left: 20%;
    background-color: #3e3e3e;
}

.skils_container h3{
    color: #fff;
    text-align: center;
}

.skils_container ul{
    list-style-type:none;
}

.skils_container ul li {
    text-transform: capitalize;
    border-bottom: 2px dotted #fb3b34da;
    margin-bottom: 4.5px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    transition: .2s;
}

.skils_container ul li svg{
    font-size: 20px;
}

.skils_container ul li:hover{
    /* transform: scale(1.04); */
    transition: .2s;
    border-color: #fff;
    letter-spacing: 5px;
}

.skils_container ul li:hover svg{
    color: #fb3b34da;
}